altgraph==0.17.2
asgiref==3.5.2
distlib==0.3.4
dj-database-url==1.0.0
Django==4.1
django-heroku==0.3.1
filelock==3.4.2
future==0.18.2
gunicorn==20.1.0
pefile==2021.9.3
Pillow==9.0.1
platformdirs==2.4.1
psycopg2==2.9.3
pybase64==1.2.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
python-decouple==3.6
pywin32-ctypes==0.2.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.2
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
whitenoise==6.2.0
